---
interface Props {
  title: string;
}

import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";

const title = "Projects";
const projects = await getCollection("projects");
---

<Main title="Projects">
  <h1 class="my-4 text-center font-bold">{title}</h1>
  <div class="grid grid-cols-2 gap-8 lg:grid-cols-3 lg:gap-8">
    {
      projects.map((project) => {
        return (
          <a
            href={`projects/${project.slug}`}
            class="group relative bg-black transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg flex justify-center items-center aspect-square"
          >
            <img
              alt={project.data.thumbnail_alt}
              src={project.data.thumbnail}
              class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />

            <div class="relative p-4 sm:p-6 lg:p-8">
              <p class="text-sm text-center font-medium uppercase tracking-widest text-pink-500">
                {project.data.role}
              </p>

              <p class="text-xl font-bold text-center text-wrap text-white sm:text-2xl">
                {project.data.title}
              </p>
            </div>
          </a>
        );
      })
    }
  </div>
</Main>
